NEXT_PUBLIC_FIREBASE_API_KEY="Your api key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="Your auth domain"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="Your project id"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="Your storage bucket"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="Your messaging sender id"
NEXT_PUBLIC_FIREBASE_APP_ID="Your app id"